@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
	text-align: center;
	background-color: rgb(3, 47, 3);
	color: white;
}

h1 {
	margin-bottom: 0.75em;
}

#main-container {
	padding-top: 3em;
	padding-bottom: 4em;
}

#main-title {
	text-transform: uppercase;
}

#status {
	color: green;
}

#results:first-child {
	border: 2px solid green;
}

#page-title {
	text-transform: uppercase;
	font-family: 'Graduate', Arial, Helvetica, sans-serif;
}
