#main-container {
	outline: 2px solid blue;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 3em;
	padding-bottom: 3em;
}

#main-title {
	text-transform: uppercase;
}

#status {
	color: green;
}
