.score-card {
	border: 2px solid rgb(93, 115, 85);
	border-radius: 5px;
	margin-bottom: 0.5em;
}

.score-card:hover {
	border: 2px solid rgb(129, 158, 120);
}

.sc-name {
	margin-left: 2em;
	margin-right: 3em;
}

.sc-score {
	margin-right: 2em;
}

.score-card {
	font-family: 'Graduate', Arial, Helvetica, sans-serif;
	font-size: 20px;
}
